* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --HEADER-BG: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    --HEADER-BG-FALLBACK: #05e8ba;

    --FONT-COLOR: whitesmoke;

}

/* header */
.header {
    height: 15vh;
    background-color: var(--HEADER-BG-FALLBACK);
    background-image: var(--HEADER-BG);
    color: var(--FONT-COLOR);
    position: relative;
}

.header__h1 {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* main */
.home {
    background-color: #f4f4f4;
    min-height: 80vh;
}

/* infield */
.home__infield {
    min-height: 12.5vh;
    position: relative;
    box-shadow: 4px 0px 4px #333;
}

.infield__container {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__infield-bar {
    width: 90%;
    height: 50%;
    text-align: center;
}

.home__infield-button {
    width: 10%;
    height: 60%;
    text-align: center;
}

.home__input {
    width: 100%;
    height: 100%;
}

.home__button {
    height: 100%;
    width: auto;
}

.home__button:hover {
    animation: buttonHover 0.7s ease-in-out;
}

.home__button:active {
    transform: scale(1.1, 1.1);
}

/* display */

.home__display {
    height: 67.5vh;
}

.display__container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.display__list {
    width: 85%;
    margin: 0 auto;
    border: 1px darkgray solid;
    border-radius: 15px;
}

.display__item {
    height: 3.5rem;
    border-bottom: 1px darkgray solid;
}

.display__item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.display__item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: none;
}


.footer {
    background-color: lightblue;
    height: 5vh;
    position: relative;
}

.footer__p {
    font-size: 1.15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes buttonHover {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}