* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --HEADER-BG: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    --HEADER-BG-FALLBACK: #05e8ba;

    --FONT-COLOR: whitesmoke;

}

/* header */
.header {
    height: 15vh;
    background-color: var(--HEADER-BG-FALLBACK);
    background-image: var(--HEADER-BG);
    color: var(--FONT-COLOR);
    position: relative;
}

.header__h1 {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* main */
.home {
    background-color: #f4f4f4;
    min-height: 80vh;
}

/* infield */
.home__infield {
    min-height: 12.5vh;
    position: relative;
    box-shadow: 4px 0px 4px #333;
}

.infield__container {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__infield-bar {
    width: 90%;
    height: 50%;
    text-align: center;
}

.home__infield-button {
    width: 10%;
    height: 60%;
    text-align: center;
}

.home__input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0 0.5rem;
    font-size: 1.15rem;
}

.home__input:focus {
    outline: 1px solid darkcyan;
}

.home__button {
    height: 100%;
    width: auto;
}

.home__button:hover {
    animation: buttonHover 0.7s ease-in-out;
}

.home__button:active {
    transform: scale(1.1, 1.1);
}

/* display */

.home__display {
    height: 67.5vh;
    overflow-y: scroll;
}

.display__container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.display__list {
    width: 70%;
    margin: 0 auto;
    border: 1px darkgray solid;
    border-radius: 15px;
}

.display__item {
    position: relative;
    height: 3.5rem;
    border-bottom: 1px darkgray solid;
}

.display__item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.display__item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: none;
}

/* display item */

.display__item-checkboxDiv {
    position: absolute;
    width: 7%;
    height: 3.5rem;
    left: 0;
    /* background-color: blue; */
}

.display__item-pDiv {
    position: absolute;
    width: 86%;
    height: 3.5rem;
    left: 7%;
    overflow-y: scroll;
    /* background-color: #05e8ba; */
}

.display__item-trashDiv {
    position: absolute;
    width: 7%;
    height: 3.5rem;
    left: 93%;
    /* background-color: rebeccapurple; */
}

.display__item-checkbox {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 1.2rem;
    height: 1.2rem;
    border: 2px grey inset;
}

.display__item-checkbox--checked {
    background-color: rgba(0, 114, 228, 0.914);
    padding: 0.1rem;
}

.display__item-p {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    /* background-color: magenta; */
}

.display__item-p--checked {
    text-decoration: line-through;
    color: rgb(133, 133, 133);
}

.display__item-trash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.75rem;
    height: 1.75rem;
}

.display__item-trashPic {
    width: 1.75rem;
    height: 1.75rem;
}

.display__item-trashPic:hover {
    animation: trashHover 0.8s ease-in-out;
}

/* popups */

.popup {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.3rem;
    border-radius: 15px;
    color: whitesmoke;
}

.error {
    background-color: crimson;
}

.success {
    background-color: green;
}

.hidden {
    display: none;
}

.empty {
    width: 30%;
    height: 50%;
    margin-top: 5%;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty__img {
    width: 100%;
    height: 100%;
}

/* footer */

.footer {
    background-color: lightblue;
    height: 5vh;
    position: relative;
}

.footer__p {
    font-size: 1.15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes buttonHover {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes trashHover {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-20deg);

    }

    75% {
        transform: rotate(20deg);
    }


    100% {
        transform: rotate(0deg);
    }
}